body {
    box-sizing: border-box;
    margin: 0px;
    
}

.app {
 min-width: 100%;
 /* width: 100vh; */
 display: flex;
 /* justify-content: ; */
 color: #fff;

}

p {

}
.nav {
 width: 9%;
 background-color: black;
 height: 100vh;
}

.nav-title {
    padding-left : 16px;
    border-bottom: 1px solid #5C5C5C;

 
}

.nav-list {

}

.nav-list ul{
    list-style: none;
    padding : 0px ;
    font-size: 16px;
    font-weight: 700;
    color : #AAAAAA;
    margin: 0px;

}

.nav-list ul li{
    height: 44px;
    padding-left : 16px;
    border-bottom: 1px solid #5C5C5C;
    line-height: 100%;;
    display: flex;
    align-items: center;

}

.nav-list ul li a{
    display: block;
}

.nav-list ul li:hover{
   color: #fff;
}



.container {
 padding-left: 90px;
 padding-right:  90px;
 width: 91%;
 color: black ;
 font-size: 16px;;
 font-weight: 400;
}


.block-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.block-1 img{
   width: 180px;
   margin-top: 20px;
}

.block-2{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: #EFEFEF;
    padding-bottom: 30px;
}

.block-2-text {
    width: 70%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;

}
.block-2 p:first-child{
    font-weight: 700;
    font-size: 18px;
    margin: 10px 0px;;
}

.block-2 p:last-child{
    margin: 0px;
}


.block-3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.block-3-item {
    width: calc(100% /3 - 5px);
    font-size: 16px;;
   
}

.block-3-item p:first-child {
    font-size: 24px;
    font-weight: 700;
    margin : 5px;
}


.block-3-item-content {
 
}
.block-3-item-content img{
    width: 128px;
   float: left;
}

.block-3-item-content p:first-child{
    font-weight: 700;
    font-size: 24px;

}

.block-3-item-content span{
 font-size: 16px;
 font-weight: 400;
}